.background {
  background-color: #f9efff;
  background-image: url('background.png');
  background-position: center center;
  background-size: 540px;
  display: flex;
  justify-content: center;
}

.container {
  padding-top: 30px;
  max-width: 1080px;
  min-height: 100vh;
  text-align: center;
}
